html {
	display: flex;
	min-height: 100%;
	color: #333;
	--primary: #3385cc;
	--secondary: #007480;
	--accent: tomato;
}
body {
	font-size: 16px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: normal;
	margin: 0 auto;
	max-width: 1000px;
	padding: 7vh 1em 0;
}
@media (max-width: 800px) {
	body {
		padding: .25em;
	}
}
table {
	border-collapse: collapse;
	overflow: hidden;
	max-width: 100%;
}
caption {
	text-align: left;
}
@media (min-width: 800px) {
	caption {
		max-width: 30ch;
		margin-bottom: -3em;
	}
}
@media (max-width: 800px) {
	caption {
		padding-left: .5rem;
	}
	caption span {
		display: block;
	}
}
h1, thead, #totals {
	font-weight: bold;
}
h1 {
	font-size: 1.5em;
	letter-spacing: -0.5px;
	color: #777;
	margin: 0;
	padding-bottom: 5px;
}
@media (max-width: 800px) {
	/*h1 {
		padding-left: .5rem;
		margin-bottom: 1em;
		margin-top: .5em;
	}*/
}
thead {
	font-size: 1.1em;
	color: var(--primary);
}
thead,
tfoot {
	background: white;
}
@media (max-width: 800px) {
	thead {
		display: none;
	}
	thead,
	tfoot {
		position: sticky;
		position: -webkit-sticky;
		display: inline-block;
		width: 100%;
		z-index: 2;
	}
}
tbody {
	overflow: hidden;
}
/*tbody::before {
	content: '';
	display: block;
	margin-top: 1em;
}*/
thead > tr,
tbody > tr {
    position: relative;
    border-bottom: 3px solid #ddd;
    transition: .125s border;
    mix-blend-mode: multiply;
}
tr:hover {
    border-color: #bfbfbf;
}
@media (max-height: 800px) {
	thead tr,
	tfoot tr {
		width: inherit;
		display: flex;
	}
	tbody > tr:first-child {
		border-top: 3px solid #ddd;
	}
	tbody tr::after {
		content: '';
		display: block;
		width: calc(100% - 1em);
		margin: 0 auto;
		opacity: .5;
	}
	tbody tr {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: repeat(auto-fill, 1fr );
	}
}
td {
	width: calc(650px / 4);
	padding: 1.7em .5em;
	position: relative;
	background: transparent;
	transition: .125s background;
}
@media (min-width: 800px) {
	td:first-child {
		width: 45ch;
		font-size: 1.1em;
		padding-left: 0;
		padding-right: 0;
	}
	thead td {
		padding-top: 1.15em;
		padding-bottom: 1.15em;
	}
}
@media (max-width: 800px) {
	td {
		width: 25%;
		padding: .5em;
		margin-bottom: 2.5em;
	}
	td:first-child {
		width: 100%;
		display: inline-block;
		margin-bottom: 0;
		padding-bottom: .5rem;
		grid-column: 1 / -1;
	}
	thead td,
	tfoot td {
		padding-top: .5em;
		padding-bottom: .5em;
		margin-bottom: 0;
	}
	tbody td:not(:first-child) {
		/*text-align: center;*/
		font-size: 14px;
	}
}
td:hover:not(:first-child)::after,
th:hover:not(:first-child)::after {
	content: "";
	position: absolute;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -1;
	opacity: .2;
	background: var(--secondary);
}
td[colspan="2"],
td[colspan="3"] {
	background: rgba(255, 255, 255, 0.25);
}
@media (max-width: 800px) {
	td[colspan="2"] {
		width: 50%;
	}
	td[colspan="3"] {
		width: 75%;
	}
	td:empty {
		display: none /*!important*/;
	}
}
@media (min-width: 800px) {
	td[colspan="3"] div{
		max-width: 80%;
		margin: 0 auto;
	}
}
@media (max-width: 800px) {
	tbody td > div {
		text-align: left;
		display: inline-block;
	}
	tbody td:first-child > div::after {
		content: ':';
		font-size: inherit;
		display: inline-block;
	}
}
tfoot {
	font-size: 1.3em;
}
@media (max-width: 800px) {
	tfoot {
		bottom: 0;
	}
}
#totals td {
	color: var(--accent);
	padding-top: 1em;
}
.yes,
.no {
	width: 100%;
	height: 100%;
}
.yes::after {
	content:  url(../images/check-mark.svg);
	font-weight: bold;
	opacity: .75;
	margin-left: 3ch;
}
.no::after {
	content: '';
	background-color: currentColor;
	width: 1em;
	height: calc(1em / 8);
	display: block;
	opacity: .65;
	margin-left: 3ch;
}
@media (max-width: 800px) {
	.yes::after,  
	.no::after {
		margin-left: 0;
		font-size: 2rem;
	} 
	.no::after {
		/*bottom: -.8em;
		position: relative;*/
		/*margin-top: -0.7em;*/
	}
}